.betterthanyou{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
        background-color:#daa520;
        color:white;
        border: none;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        border-radius: 5px;      
        cursor:pointer;
        margin-right:15px;
        transition: 0.67s;
        vertical-align: top;
        display:inline-block;
    } 
    .betterthanyou:hover{
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: 0.67s;
    }
    .betterthanyou:active{
        opacity:0.42;
    }


    .kys{
        background-color: white;
        border-color: black;
        border-radius: 2px;
        border-style: solid;
        border-width: 2px;
        cursor:pointer;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 15px;
        transition: background-color 0.25s, color 0.25s;
        vertical-align: top;
    }
    .kys:hover{
        background-color: black;
        color: white;
    }
    .kys:active{
        opacity: 0.67;
    }


    .tweet{
    background-color: rgb(37, 146, 255);
    border-color: none;
    color: white;
    height: 35px;
    width:100px;
    border-radius: 20px;
    border-style: solid;
    cursor:pointer;
    font-weight: bold;
    cursor:pointer;
    transition: box-shadow 0.25s;
    vertical-align: top; 
    }
    .tweet:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    }


    .blahblah{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        text-align: center;
        font-size: 18px;
        margin-bottom: 0;
    }
    
    .bullshit{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 100;
        font-size: xx-large;
        font-style: normal;
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        margin-left: 5px;
        display: inline-block;
    }
    
    .appy{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 100;
        font-size: larger;
        font-style: normal;
        margin-bottom:50px;
        background-color: black;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
    }
    .dih{
        color: bisque;
        transition: 0.29s;
    }
    .dih:hover{
        color:red;
        cursor: pointer;
        transition: 0.29s;
    }
    .wow{
        height: 200px;
        width: 200px;
        border-radius: 100cm
    }
    .lol{
        height: 200px;
        width: 200px;
        cursor: pointer;
        transition: 0.5s;
    }
    .lol:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
        transition: 0.5s;
    }
    .faggot{
        align-items: center;
    }